*{
    margin: 0;
}

.container{
    background-image: url(./img/background.jpeg);
    background-size: cover;   
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
} 

.earth-orbit, .moon-orbit{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.earth-orbit{
    animation: orbitAroundSun 10s linear infinite;
}

.earth img{
    width: 120px;
}

.sun img{
    width: 300px;
    position: relative;
    z-index: 1;
}

.moon img{
    width: 100px;
}

.moon-orbit{
    animation: orbitAroundSunMoon 15s linear infinite ;  
}

@keyframes orbitAroundSun {
    from {
        transform: rotate(0deg) translateX(250px) rotate(0deg); 
    }
    to {
        transform: rotate(360deg) translateX(250px) rotate(-360deg);
    }    
}

@keyframes orbitAroundSunMoon {
    from{
        transform: rotate(0deg) translateX(350px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(350px) rotate(-360deg);
    }    
}

@media (max-width: 800px) {
    .earth img {
        width: 60px;
    }
    .sun img{
        width: 120px;
    }
    .moon img{
        width: 50px;
    }    
    @keyframes orbitAroundSun {
        from {
            transform: rotate(0deg) translateX(120px) rotate(0deg); 
        }
        to {
            transform: rotate(360deg) translateX(120px) rotate(-360deg);
        }    
    }
    
    @keyframes orbitAroundSunMoon {
        from{
            transform: rotate(0deg) translateX(170px) rotate(0deg);
        }
        to{
            transform: rotate(360deg) translateX(170px) rotate(-360deg);
        }    
    }
}





